@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    /* background: #f2f2f2; */
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin-bottom: 0;
}

.all-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-bar
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffff00;
}

.top-bar .social
{
    float: right;
}

.top-bar .social a
{
    color: black;
    text-decoration: none;
}

.top-bar .social span{
    color: black;
}

.top-bar .social a
{
    border-right: 2px solid #eaea00;
}

.top-bar .social i
{
    padding-left: 5px;
    padding-right: 12px;
    font-size: 18px;
}

.top-bar .social a:last-child
{
    border-right: 0;
}

.nav-bar
{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: black;
}

.nav-bar .logo a 
{
    text-decoration: none;
    color: yellow;
    font-size: 25px;
    font-weight: 500;
}

.nav-bar .navi 
{
    padding-top: 7px;
}

.nav-bar .navi ul
{
    display: flex;
    list-style: none;
    margin-bottom: 0px;
    float: right;
}

.nav-bar .navi ul li
{
    padding-left: 10px;
    padding-right: 10px;
}

.nav-bar .navi ul li a
{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
}

.nav-bar .navi .active
{
    color: yellow;
}

.nav-bar .navi ul li a:hover
{
    color: yellow;
}


