@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    /* background: #f2f2f2; */
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin-bottom: 0;
}

.all-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
