@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    /* background: #f2f2f2; */
    font-family: 'Open Sans', sans-serif;
}

a
{
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin-bottom: 0;
}

.all-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-bar
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffff00;
}

.top-bar .social
{
    float: right;
}

.top-bar .social a
{
    color: black;
    text-decoration: none;
}

.top-bar .social span{
    color: black;
}

.top-bar .social a
{
    border-right: 2px solid #eaea00;
}

.top-bar .social a:hover
{
    color: white;
}

.top-bar .social span:hover
{
    color: white;
}

.top-bar .social a:last-child
{
    border-right: 0;
}

.top-bar .social i
{
    padding-left: 5px;
    padding-right: 12px;
    font-size: 18px;
}


.nav-bar
{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: black;
    /* position: fixed;
    width: 100%;
    transition: 0.3s;
    z-index: 2; */
}

.scroll-nav-change{
    background-color: #171717;
    top: 0px;
}

.nav-bar .logo a 
{
    text-decoration: none;
    color: yellow;
    font-size: 25px;
    font-weight: 500;
}

.nav-bar .logo a:hover
{
    color: #fff;
}

.nav-bar .navi 
{
    padding-top: 3px;
}

.nav-bar .navi ul
{
    display: flex;
    list-style: none;
    margin-bottom: 0px;
    float: right;
}

.nav-bar .navi ul li
{
    padding-left: 7px;
    padding-right: 7px;
}

.nav-bar .navi ul li a
{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
}

.nav-bar .navi .active
{
    color: yellow;
}

.nav-bar .navi ul li a:hover
{
    color: yellow;
}

.about
{
    padding: 50px 0 200px 0;
}

.about h1.back
{
    font-size: 150px;
    color: #ccc;
    position: absolute;
}

.about .front-section
{
    position: relative;
    top: 85px;
}

.about .image
{
    text-align: center;
}

.about .image img
{
    border-radius: 50%;
    height: 270px;
    width: 280px;
}

.about .text
{
    padding: 0 0 0 36px;
}

.about .text .head
{
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 25px;
}

.about .text p
{
    margin-bottom: 16px;
    color: #212529;
    font-size: 16px;
}

/* .experience
{

}

.experience h1.back
{
    font-size: 150px;
    color: #ccc;
    position: absolute;
} */


.portfolio
{
    padding: 50px 0 200px 0;
}

.portfolio h1.back
{
    font-size: 150px;
    color: #ccc;
    position: absolute;
}

.portfolio .front-section
{
    position: relative;
    top: 90px;
}

.portfolio .port-left .line
{
    width: 33px;
    height: 2px;
    background: #eea739;
    left: 20px;
    margin-top: 22px;
}

.portfolio .port-left h1
{
    margin-bottom: 0px;
    text-decoration: none;
    font-size: 50px;
    color: black;
}

.portfolio .port-left h2
{
    margin-bottom: 0px;
    font-size: 23px;
    text-decoration: none;
    color: black;
}

.portfolio .port-left p
{
    padding-top: 25px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #828282;
}

.portfolio .port-right .box
{
    margin: 15px 0 15px 0;
}

.portfolio .inner
{
    transition: 0.3s;
    border-radius: 7px;
}

.portfolio .inner .head-sec
{
    padding: 10px 0 10px 0;
    border-radius: 7px 7px 0 0;
}

.portfolio .inner span
{
    font-size: 35px;
    color: black;
    text-decoration: none;
    padding-left: 15px;
}

.portfolio .inner h3
{
    font-size: 17px;
    color: black;
    text-decoration: none;
    margin-bottom: 0px;
}

.portfolio .inner p
{
    padding-top: 10px;
    font-size: 14px;
    color: #828282;
}

.portfolio .inner .line
{
    width: 33px;
    height: 2px;
    background: #eea739;
    left: 20px;
    margin-bottom: 26px;
    margin-top: 22px;
}

.portfolio .inner .content
{
    padding: 0 15px 15px 15px;
}

.portfolio .inner .button
{

}

.portfolio .inner .button p
{
    
}

.portfolio .inner .button i
{
    
}

.portfolio .inner:hover
{
    background: #fff;
    box-shadow: 0px 0px 10px #ccc;
    position: relative;
    top: -10px;
}

.portfolio .inner:hover .head-sec {
    background-color: #eea739;
}

.portfolio .inner:hover .head-sec span
{
    color: #fff;
}

.port-left
{
    position: absolute;
    top: 25%;
}

.contact
{
    background-color: black;
    padding: 30px 0 30px 0;
}

.contact .cont
{
    text-align: center;
}

.contact .cont p
{
    color: white;
    font-size: 17px;
}

.contact .cont i
{
    padding-right: 12px;
    font-size: 20px;
}

.reserved
{
    padding: 12px 0 12px 0;
    background-color: yellow;
}

.reserved .copy
{
    text-align: center;
}

.reserved .copy p
{
    font-size: 16px;
    color: black;
}

.reserved .copy i
{
    font-size: 18px;
    padding-right: 6px;
    color: black;
}























@media only screen and (max-width: 1920px)
{

}

@media only screen and (max-width: 1366px)
{

}

@media only screen and (max-width: 1240px)
{

}

@media only screen and (max-width: 768px)
{
    .nav-bar .logo a
    {
        font-size: 20px;
    }

    .nav-bar .navi ul li a
    {
        font-size: 15px;
    }
}


@media only screen and (max-width: 600px) {
    .nav-bar .navi
    {
        display: none;
    }

    .top-bar
    {
        display: none;
    }

    .nav-bar .logo a
    {
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width: 412px)
{

}

@media only screen and (max-width: 375px)
{

}
